body{
    margin: 50px;
    padding: 50px;
    background-color: grey;
}

.medidas{
    background-color: goldenrod;
    width: 500px;
    height: 270px;
}

.medidaFija{
font-size: 50px;
line-height: 2; /*Separacion entre letras*/
font-weight: 1; /*Grosor de letras*/
display: inline; /*Convierte el elemento en linea lo que significa que no se le aplica ni width ni height*/
}

/*Las medidas relativas sirven para adaptar el tamaño a la pantalla, por ejemplo los responsive*/
